* {
  padding: 0;
  margin: 0; }

.section-1 {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(153, 0, 224, 0.5)), to(rgba(24, 165, 255, 0.5))), url("/img/allyB.jpg");
  background: -webkit-linear-gradient(left, rgba(153, 0, 224, 0.5) 0, rgba(24, 165, 255, 0.5) 100%), url("/img/allyB.jpg");
  background: -o-linear-gradient(left, rgba(153, 0, 224, 0.5) 0, rgba(24, 165, 255, 0.5) 100%), url("/img/allyB.jpg");
  background: linear-gradient(to right, rgba(153, 0, 224, 0.5) 0, rgba(24, 165, 255, 0.5) 100%), url("/img/allyB.jpg");
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow-x: hidden; }
  .section-1__square {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    width: 250px;
    height: 180px;
    color: white;
    border: 2px solid white;
    border-bottom: 0; }
    .section-1__square-title {
      font-size: 6rem;
      letter-spacing: 6px; }
    .section-1__square-text {
      position: absolute;
      top: 100%;
      left: 83%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      width: 100%; }
      .section-1__square-text::before {
        content: "";
        background: white;
        height: 2px;
        width: 65px;
        position: absolute;
        bottom: 50%;
        left: -84px; }
      .section-1__square-text::after {
        content: "";
        background: white;
        height: 2px;
        width: 65px;
        position: absolute;
        bottom: 50%;
        right: 82px; }

.section-2 {
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px; }
  .section-2__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 800px; }
    .section-2__container-title {
      font-size: 3rem; }
    .section-2__container-subtitle {
      font-weight: bold;
      margin: 10px;
      position: relative; }
      .section-2__container-subtitle::before {
        content: "";
        background: black;
        height: 2px;
        width: 90px;
        position: absolute;
        bottom: 50%;
        left: -95px; }
      .section-2__container-subtitle::after {
        content: "";
        background: black;
        height: 2px;
        width: 90px;
        position: absolute;
        bottom: 50%;
        right: -95px; }
    .section-2__container-button {
      margin: 20px;
      background-color: white;
      border: 1px solid black;
      padding: 15px 35px;
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;
      -webkit-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease; }
      .section-2__container-button:hover {
        -webkit-box-shadow: 0 -4em 0 0 steelblue inset;
        box-shadow: 0 -4em 0 0 steelblue inset;
        color: white; }

.section-3 {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(153, 0, 224, 0.5)), to(rgba(24, 165, 255, 0.5))), url("/img/allyB2.jpg");
  background: -webkit-linear-gradient(left, rgba(153, 0, 224, 0.5) 0, rgba(24, 165, 255, 0.5) 100%), url("/img/allyB2.jpg");
  background: -o-linear-gradient(left, rgba(153, 0, 224, 0.5) 0, rgba(24, 165, 255, 0.5) 100%), url("/img/allyB2.jpg");
  background: linear-gradient(to right, rgba(153, 0, 224, 0.5) 0, rgba(24, 165, 255, 0.5) 100%), url("/img/allyB2.jpg");
  background-position: center; }

.section-4 {
  min-height: 60vh;
  padding: 20px; }
  .section-4__img {
    height: 60vh;
    background-image: url("/img/allyB3.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 550px; }
  .section-4__info {
    height: 60vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .section-4__info-title {
      font-size: 3rem;
      font-weight: normal;
      position: relative; }
      .section-4__info-title::before {
        content: "";
        background: black;
        height: 2px;
        width: 110px;
        position: absolute;
        bottom: 2%;
        left: 5px; }
    .section-4__info-text {
      margin: 20px 0;
      font-weight: bold;
      letter-spacing: 1px; }
    .section-4__info-button {
      margin: 20px 0;
      background-color: white;
      border: 1px solid black;
      width: 150px;
      height: 40px;
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;
      -webkit-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease; }
      .section-4__info-button:hover {
        -webkit-box-shadow: 0 -4em 0 0 steelblue inset;
        box-shadow: 0 -4em 0 0 steelblue inset;
        color: white; }

.section-5 {
  min-height: 20vh;
  background: black; }

.section-6 {
  min-height: 100vh;
  background: white; }

.section-7 {
  min-height: 100vh;
  background: #F8F8F8; }

.section-8 {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(153, 0, 224, 0.5)), to(rgba(24, 165, 255, 0.5))), url("/img/allyB4.png");
  background: -webkit-linear-gradient(left, rgba(153, 0, 224, 0.5) 0, rgba(24, 165, 255, 0.5) 100%), url("/img/allyB4.png");
  background: -o-linear-gradient(left, rgba(153, 0, 224, 0.5) 0, rgba(24, 165, 255, 0.5) 100%), url("/img/allyB4.png");
  background: linear-gradient(to right, rgba(153, 0, 224, 0.5) 0, rgba(24, 165, 255, 0.5) 100%), url("/img/allyB4.png"); }

@media only screen and (max-width: 700px) {
  .section-4__img {
    background-size: 350px; } }
