@import 'lib/variables.scss';

*{
    padding: 0;
    margin: 0;
}

.section-1{
    min-height: 100vh;
    background: linear-gradient(to right,$purple 0,$blue 100%),url('/img/allyB.jpg');
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    &__square{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 250px;
        height: 180px;
        color: white;
        border: 2px solid white;
        border-bottom: 0;

        &-title{
            font-size: 6rem;
        }

        &-text{
            position: absolute;
            top: 100%;
            left: 83%;
            transform: translateX(-50%) translateY(-50%);
            width: 100%;

            &::before{
                content: "";
                background: white;
                height: 2px;
                width: 65px;
                position: absolute;
                bottom: 50%;
                left: -85px;
            }

            &::after{
                content: "";
                background: white;
                height: 2px;
                width: 65px;
                position: absolute;
                bottom: 50%;
                right: 83px;
            }

        }
    }
}
