@import 'lib/variables.scss';

*{
    padding: 0;
    margin: 0;   
}

html, body {
    overflow-x:hidden 
  } 

.section-1{
    min-height: 100vh;
    background: linear-gradient(to right,$purple 0,$blue 100%),url('/img/allyB.jpg');
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    &__square{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 250px;
        height: 180px;
        color: white;
        border: 2px solid white;
        border-bottom: 0;

        &-title{
            font-size: 6rem;
            letter-spacing: 6px; 
        }

        &-text{
            position: absolute;
            top: 100%;
            left: 83%;
            transform: translateX(-50%) translateY(-50%);
            width: 100%;

            &::before{
                content: "";
                background: white;
                height: 2px;
                width: 65px;
                position: absolute;
                bottom: 50%;
                left: -84px;
            }

            &::after{
                content: "";
                background: white;
                height: 2px;
                width: 65px;
                position: absolute;
                bottom: 50%;
                right: 82px;
            }

        }

        &-arrow{
            animation: bounce 2s infinite;
            position: absolute;
            bottom: -100%;
            cursor: pointer;
        }
    }
    
}

.section-2{
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 800px;
        &-title{
            font-size: 3rem;
        }

        &-subtitle{
            font-weight: bold;
            margin: 10px;
            position: relative;
            
           &::before{
            content: "";
            background: black;
            height: 2px;
            width: 90px;
            position: absolute;
            bottom: 50%;
            left: -95px;
        }

        &::after{
            content: "";
            background: black;
            height: 2px;
            width: 90px;
            position: absolute;
            bottom: 50%;
            right: -95px;
        }

        }

        &-text{
        
        }

        &-button{
            margin: 20px;
            background-color: white;
            border: 1px solid black;
            padding: 15px 35px;
            border-radius: 5px;
            font-weight: bold;
            cursor: pointer;
            transition: all 500ms ease;
            
            &:hover {
              box-shadow: 0 -4em 0 0 steelblue inset;
              color: white;
            }
        }

    }
}

.section-3{
    min-height: 100vh;
    background: linear-gradient(to right,$blue 0,$purple 100%),url('/img/allyB2.jpg');
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    &__wrap{
        display: flex;   
        flex-wrap: wrap;
        justify-content: center;

        &-card{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 220px;
            width: 320px;
            margin: 20px 25px; 
            box-shadow: 1px 1px 2px 1px #888888;
            background: white;
            border-color: black;

            &__container{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 250px;
                height: 200px;
                &-circle{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    background:black;
                    color:white;
                    
                    &-icon{
                        font-size: 35px;
                    }
                }
                &-title{
                    margin: 10px;
                    font-weight: bold;
                }
                
                &-text{
                    text-align: center;
                }
            }
        }
    
    }
}

.section-4{
    min-height: 60vh;
    padding: 20px;
    &__img{
        height: 60vh;
        background-image: url('/img/allyB3.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 550px;
    }

    &__info{
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__container{
            max-width: 500px;
            margin: 0 auto;
        &-title{
           font-size: 3rem;
           font-weight: normal;
           position: relative;

           &::before{
            content: "";
            background: black;
            height: 2px;
            width: 110px;
            position: absolute;
            bottom: 2%;
            left: 5px;
        }

        }
        
        &-text{
            margin: 20px 0;
            font-weight: bold;
            letter-spacing: 1px;

        }

        &-button{
            margin: 20px 0;
            background-color: white;
            border: 1px solid black;
            width: 150px;
            height: 40px;
            border-radius: 5px;
            font-weight: bold;
            cursor: pointer;
            transition: all 500ms ease;
            
            &:hover {
              box-shadow: 0 -4em 0 0 steelblue inset;
              color: white;
            }
        }
    }
}
}

.section-5{
    min-height: 220px;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    &__wrap{
        display: flex;   
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        &__container{
            width: 300px;
           height: 120px;
            &-number{
                font-size: 3.5rem;
            }
        
            &-text{
                margin: 10px 0;
                font-weight: bold;
                position: relative;
        
                &::before{
                    content: "";
                    background: white;
                    height: 1px;
                    width: 55px;
                    position: absolute;
                   top: -10px;
                   right: 135px;
                   
                }
            }
        }
    }

    
}

.section-6{
    min-height: 90vh;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
   
    &__title{
        font-weight: normal;
        margin: 40px 0;
        font-size: 3rem;
        position: relative;
        
       &::before{
        content: "";
        background: black;
        height: 1px;
        width: 80px;
        position: absolute;
        bottom: 50%;
        left: -85px;
    }

    &::after{
        content: "";
        background: black;
        height: 1px;
        width: 80px;
        position: absolute;
        bottom: 50%;
        right: -85px;
    }
    }

   &__wrap{
    display: flex;   
    flex-wrap: wrap;
    justify-content: center;
       &-card{
        height: 380px;
        width: 300px;
        margin: 10px;
        box-shadow: 1px 1px 1px 1px #888888;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;

        &__container{
            width: 260px;
            height: 250px;
            margin: 0 auto;
            text-align: center;
             &-icon{
                font-size: 2rem;
            }
            &-title{
                font-size: 2rem;
                margin: 10px 0;
            }
            &-text{

            }
        }
        
    &:nth-child(1){
        background: linear-gradient(to right,$purple 0,$blue 100%),url('/img/allyPH.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &:nth-child(2){
        background: linear-gradient(to right,$purple 0,$blue 100%),url('/img/allyDS.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &:nth-child(3){
        background: linear-gradient(to right,$purple 0,$blue 100%),url('/img/allyPL.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    }
   }

}
.section-7{
    min-height: 100vh;
    background: $gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    &__title{
        font-weight: normal;
        margin: 10px 0;
        font-size: 3rem;
        position: relative;

        &::before{
            content: "";
            background: black;
            height: 1px;
            width: 80px;
            position: absolute;
            bottom: 50%;
            left: -85px;
        }
    
        &::after{
            content: "";
            background: black;
            height: 1px;
            width: 80px;
            position: absolute;
            bottom: 50%;
            right: -85px;
        }
    }

    &__container-1{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        &__content{
            display: flex;
            width: 300px;
            margin:  40px 0px;
            &-check{
                background: black;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid;
                height: 60px; 
                min-width: 60px; 
                border-radius: 50%;
                margin: 0 22px;
            }
            
            &__info{
                &-title{
                    font-weight: bold;
                    text-align: right;
                }
            }
           
        }
    }

    &__container-2{
        height: 100vh;
        background-image: url('/img/phone.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 270px 550px;
      
        &-img{
            background: linear-gradient(to right,$blue 0,$purple 100%),url('/img/allyB2.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 258px 450px;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;

            &__square{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;
                width: 150px;
                height: 100px;
                color: white;
                border: 2px solid white;
                border-bottom: 0;
                
                &-title{
                    font-size: 2rem;
                    letter-spacing: 6px; 
                }

                &-text{
                    position: absolute;
                    top: 100%;
                    left: 75%;
                    transform: translateX(-50%) translateY(-50%);
                    width: 100%;
                    font-size: .9rem;
        
                    &::before{
                        content: "";
                        background: white;
                        height: 2px;
                        width: 35px;
                        position: absolute;
                        bottom: 50%;
                        left: -40px;
                    }
        
                    &::after{
                        content: "";
                        background: white;
                        height: 2px;
                        width: 35px;
                        position: absolute;
                        bottom: 50%;
                        right: 38px;
                    }
                }

                &-arrow{
                    animation: bounce 2s infinite;
                    position: absolute;
                    bottom: -140px;
                    cursor: pointer;
                }
            }

        }
    }


    &__container-3{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        &__content{
            display: flex;
            width: 300px;
            margin:  40px 0px;
            &-check{
                background: black;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid;
                height: 60px; 
                min-width: 60px; 
                border-radius: 50%;
                margin: 0 10px;
               
            }

            &__info{
                &-title{
                    font-weight: bold;
                    
                }
            }
        }
    }



}

.footer{
    min-height: 90vh;
    background: linear-gradient(to right,$purple 0,$blue 100%),url('/img/allyB4.png');
  
    &__section-1{
        display: flex;
        flex-direction: column;
        color: white;

        &__info{
            margin: 0 auto;
            max-width: 500px;
        }
        
        &-title{
            font-size: 2rem;
            margin: 40px 0;
            position: relative;
 
            &::before{
             content: "";
             background:white;
             height: 1px;
             width: 110px;
             position: absolute;
             bottom: 2%;
             left: 5px;
            }
        }

        &__social{
            &-icon{
                font-size: 1.5rem;
                margin: 0 10px;
            }
        }

        &-text{
            font-size: 1.2rem;
            margin: 20px 0;
        }
        
        &-bottom{
            margin-top: 190px;
        }
    }

    &__section-2{
        color: white;
        display: flex;
        flex-direction: column;

        &-title{
            font-size: 3rem;
            margin: 40px 0;
        }

        &-input{
            width: 70%;
            margin: 10px 0;
            padding: 16px;
            opacity: 5;
            background: rgba(255,255,255,.2);
            border: 1px solid white;
            color: black;
            &::placeholder{
                font-weight: bold;
                color: white;
                font-size: 1rem;
                font-family: Arial;
            }

        }

        &-area{
            width: 70%;
            height: 120px;
            margin: 10px 0;
            padding: 16px;
            opacity: 5;
            background: rgba(255,255,255,.2);
            border: 1px solid white;
            color: black;
            &::placeholder{
                font-weight: bold;
                color: white;
                font-size: 1rem;
                font-family: Arial;
            }
        }


        &-button{
            margin: 20px 0; 
            background-color: white;
            border: 1px solid black;
            padding: 15px 35px;
            border-radius: 5px;
            font-weight: bold;
            cursor: pointer;
            transition: all 500ms ease;
            width: 210px;
            
            &:hover {
              box-shadow: 0 -4em 0 0 black inset;
              color: white;
            }
        }

    }
}

@media only screen and (max-width: 768px) {

    .section-7__container-1{
        align-items: center;
    }

    .section-7__container-3{
        align-items: center;
    }

   .section-4__img{
       background-size: 350px;
   }
  }

  
  @media only screen and (max-width: 1023px) {

    .section-7__container-1__content-check{
        order: 1;
    }

    .section-7__container-1__content__info{
        order: 2;
        &-title{
            text-align: start;
        }
    }

    .section-7__container-1{
        align-items: center;
    }

    .section-7__container-3{
        align-items: center;
    }


  }



  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }